<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="css/edit.css">
<body>
    <div class="main">
        <div class="headinfo">编辑商品信息</div>
        <form th:action="@{/update.do}" method="post" class="mainform">
        <!--    隐藏域，随表单发送-->
            <input type="hidden" name="id" th:value="${product.id}">
            <table id="tbl_product" th:object="${product}">
                <tr>
                    <th>名称：</th>
                    <td><input type="text" name="productName" th:value="*{productName}"/></td>
                </tr>
                <tr>
                    <th>单价：</th>
                    <td><input type="text" name="price" th:value="*{price}"/></td>
                </tr>
                <tr>
                    <th>库存：</th>
                    <td><input type="text" name="productRemain" th:value="*{productRemain}"/></td>
                </tr>
                <tr>
                    <th>进价：</th>
                    <td><input type="text" name="inPrice" th:value="*{inPrice}"/></td>
                </tr>
                <tr>
                    <th>删除：</th>
                    <td><a th:text="点击删除该商品" th:href="@{/delete.do(id=${product.id})}" methods="get"></a></td>
                </tr>
            </table>
            <button type="submit" class="submitbtn">提交修改</button>
        </form>
    </div>

</body>
</html>