<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="css/index.css">
<body>
  <div class="maindiv">
    <form id="search-form" action="search.do" method="get">
      <div class="group">
        <input required="" type="text" class="input" name="searchName">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>请输入要查询的商品名</label>
      </div>
    </form>
    <div class="headinfo">极简商品后台管理系统</div>
    <table class="maintable">
      <thead>
      <tr>
        <th>ID</th>
        <th>商品名称3</th>
        <th>价格</th>
        <th>库存</th>
        <th>进价</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="product:${session.productList}">
          <td th:text="${product.id}">1</td>
          <td><a th:text="${product.productName}" th:href="@{/edit.do(id=${product.id})}" methods="get">iphone</a></td>
          <td th:text="${product.price}">8999.00</td>
          <td th:text="${product.productRemain}">100</td>
          <td th:text="${product.inPrice}">7999.00</td>
        </tr>
      </tbody>
    </table>
    <button  class="addbtn" onclick="window.location.href='add.html';">增加商品</button>
</div>
</body>

</html>